@font-face {
    font-family: "Inter";
    src: url(../fonts/InterTight-Italic-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/InterTight-Italic-VariableFont_wght.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/InterTight-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}